.CardBox {
  padding: 24px;
  background: var(--white);
  margin: 16px 0;
  width: 75%;
  max-width: 400px;
  height: auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  border-radius: 4px;
  overflow-y: auto;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

@media (min-height: 800px) {
  .CardBox {
    padding: 32px;
  }
}

.CardBox__group {
  padding: 8px;
  width: calc(100% - 32px);
  margin: 0 auto;
  margin-bottom: 16px;
}


.CardBox__label {
  display: block;
  padding: 0 0 8px;
  font-size: 2rem;
}

.CardBox__input {
  border: none;
  border-bottom: solid 1px var(--gray);
  font-size: 2rem;
  background-color: transparent;
  color: var(--gray);
  width: 100%;
  max-width: 200px;
  display: block;
  padding: 8px 2px;
}

.CardBox__intro {
  width: calc(100% - 32px);
  text-align: center;
  font-size: 1.6rem;
  margin: 0 auto;
  margin-bottom: 32px;
}

.CardBox__button {
  font-size: 2.3rem;
  text-decoration: none;
  border:1px solid var(--gray);
  background: none;
  color: var(--gray);
  padding: 8px 32px;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.CardBox__button:hover {
  border: 1px solid var(--main);
  color: var(--main);
}
