.CardBox {
  padding: 24px;
  background: var(--white);
  margin: 8px 0;
  width: 75%;
  max-width: 400px;
  height: auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  border-radius: 4px;
  overflow-y: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

@media (min-height: 800px) {
  .CardBox {
    padding: 32px;
  }
}

.CardBox__group {
  padding: 8px;
  width: calc(100% - 32px);
  margin: 0 auto;
  margin-bottom: 16px;
}

.CardBox__label {
  display: block;
  padding: 0 0 8px;
  font-size: 2rem;
}

.CardBox__input {
  border: none;
  border-bottom: solid 1px var(--gray);
  font-size: 2rem;
  background-color: transparent;
  color: var(--gray);
  width: 100%;
  display: block;
  padding: 8px 2px;
  margin: 8px 0;
}

.CardBox__intro {
  width: calc(100% - 32px);
  text-align: center;
  font-size: 1.6rem;
  margin: 0 auto;
  margin-bottom: 32px;
}

.CardBox__button {
  font-size: 2.3rem;
  text-decoration: none;
  background: none;
  border: 1px solid var(--main);
  color: var(--main);
  padding: 8px 32px;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin: 8px 0;
}

.CardBox__button:hover {
  background-color: var(--main);
  color: var(--white);
}

.CardBox__separator {
  margin: 8px 0px;
  position: relative;
  height: 50px;
}
.CardBox__separator span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  font-size: 2.3rem;
  background: var(--white);
  padding: 0px 12px;
  z-index: 2;
  display: block;
  font-weight: bold;
}
.CardBox__separator::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  content: "";
  height: 2px;
  width: 270px;
  background: var(--gray);
  z-index: 1;
}

@media (min-width: 600px) {
  .CardBox__separator::after {
    width: 350px;
  }
}
