@import './CardBox.css';

.Home {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.Home__title {
  font-size: 4rem;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-style: normal;
}



.Home__logo {
  width: 150px;
  fill: var(--gray);
  margin: 32px 0;
}

