
.Room {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 100vh;
}
.Room__game {
  flex: 1;
  background-color: white;
}

.Room__videos {
  background-color: gray;
  align-items: center;
  justify-content: flex-start;
  display: flex;
  height: 100%;
  flex-direction: column;
}
.Room__videobox {
  position: relative;
}
.Room__video {
  display: block;
  height: auto;
  width: 200px;
  object-fit: cover;
}
.Room__video.is-local {
  filter: grayscale(0.8);
}
.Room__videos:not(.established) .Room__video.is-remote {
  display: none;
}
