@import "./CardBox.css";

.RoomMessage {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 16px;
}

.RoomMessage__votes {
  background-color: var(--gray);
  color: white;
  width: calc(100% - 32px);
  margin-bottom: 16px;
  padding: 12px 16px;
  font-size: 1.3rem;
  border-radius: 4px;
}

.RoomMessage__votes.has-voted {
  background-color: var(--green);
  color: white;
}

.RoomMessage__voteTitle {
  font-weight: 600;
  font-size: 1.8rem;
  margin-bottom: 4px;
}

.RoomMessage__vote {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  margin-right: 8px;
}

.RoomMessage__user {
  margin-right: 4px;
}

.RoomMessage__storypoint {
  margin: 4px;
  background-color: var(--white);
  color: var(--green);
  text-align: center;
  height: 22px;
  width: 22px;
  padding: 4px 2px 0px;
  border-radius: 50%;
  font-weight: bold;
}

.RoomMessage__results {
  color: white;
  width: 100%;
  margin-bottom: 16px;
  font-size: 1.3rem;
}

.RoomMessage__resultsLine {
  display: flex;
  flex-direction: row;
  font-size: 1.8rem;
  font-weight: bold;
  padding: 4px;
}
.RoomMessage__resultsLine:first-child {
  border-radius: 8px 8px 0 0;
}
.RoomMessage__resultsLine:last-child {
  border-radius: 0 0 8px 8px;
}
.RoomMessage__resultsLineScore {
  width: 30px;
  text-align: right;
  padding: 0 6px;
  border-right: 1px solid var(--white);
}
.RoomMessage__resultsLineVoters {
  text-align: left;
  padding: 0 12px;
}
.RoomMessage__resultsLineVoter {
  display: inline-flex;
  margin-right: 6px;
  padding: 0 4px;
  font-size: 1.5rem;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}
