@import './CardBox.css';

.RoomVoter {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.RoomVoter_cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
