body,
input,
button {
    font-size: 1.6vw;
    margin: 0;
    font-family: Sans-Serif;
}
body {
  background: #333;
  margin: 0;
  color: #eee;
}
@media(max-width: 1024px) {
    body,
    input,
    button {
        font-size: 1em;
    }
}
input:focus,
button:focus {
    outline:0;
}
.primary-button {
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    background-color: #4285F4;
    border: none;
    color: white;
    font-size: 0.8em;
    margin: 0 5px 20px 5px;
    width: 8em;
    line-height: 3ex;
    padding: 1ex 0.7em;
    text-align: center;
    -webkit-box-shadow: 1px 1px 5px 0 rgba(0,0,0,.5);
    -moz-box-shadow: 1px 1px 5px 0 rgba(0,0,0,.5);
    box-shadow: 1px 1px 5px 0 rgba(0,0,0,.5);
}

a {
  color: #4285F4;
}
